backcall==0.1.0
beautifulsoup4==4.8.2
boto3==1.11.5
botocore==1.14.5
decorator==4.4.1
Django==2.2
django-bootstrap4==1.0.1
django-crispy-forms==1.8.1
django-filter==2.2.0
django-storages==1.8
djangorestframework==3.10.3
docutils==0.15.2
gunicorn==20.0.4
ipdb==0.12.3
ipython==7.10.2
ipython-genutils==0.2.0
jedi==0.15.1
jmespath==0.9.4
parso==0.5.2
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.2.1
pkg-resources==0.0.0
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.5.2
python-dateutil==2.8.1
pytz==2019.3
s3transfer==0.3.1
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.25.7
wcwidth==0.1.7
