{% extends 'base.html' %}

{% block content %}
<div class="mb-5">
    <a class="btn btn-primary" href="{% url 'create_deck_name' %}" role="button">Create a New Deck</a>
</div>
    {% if messages %}
        {% for message in messages %}
            <div class="text-danger pb-4">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if decks %}
        {% for deck in decks %}
    <ul class="list-group">
         <div class="list-group-item d-flex justify-content-between align-items-center w-75 p-3">
             <div>
                <a class="btn btn-outline-success btn-sm" href="{% url 'view_deck_name' deck.id %}">{{deck}}</a>
                 {% if user.is_authenticated and user == deck.created_by or user.is_staff %}
                <small><a href="{% url 'edit_deck_name' deck.id %}">Edit</a></small>
                 {% endif %}
             </div>
            <span class="badge badge-success badge-pill" title="number of cards in this deck">{{deck.card_set.count}}</span>
        </div>


    </ul>
        {% endfor %}
    {% else %}

    <h2>No decks found, please contact an admin</h2>
    {% endif %}
{% endblock %}