{% load static %}

<nav class="navbar navbar-expand-md navbar-light bg-warning">
  <div class="container">
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}"  height="40" alt="Logo of simple-flashcards web page"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
          aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'decks_name' %}">Decks <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu dropdown-menu-left">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      {% if user.is_superuser %}
          <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}

      </ul>

      {% if user.is_authenticated %}

      <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
        {% if user.is_superuser %}
            <li class="nav-item active">
              <a class="nav-link ml-auto" href="{% url 'users_list' %}">Users list<span class="sr-only">(current)</span></a>
            </li>
          {% endif %}
        {% if request.user == user %}
        <li class="nav-item active ">
          <a class="nav-link ml-auto" href="{% url 'profile' user.username %}">{{ user.username }}<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        <li class="nav-item active ">
          <a class="nav-link ml-auto" href="{% url 'logout' %}">Logout<span class="sr-only">(current)</span></a>
        </li>
      </ul>

      {% else %}
      <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
        <li class="nav-item active ">
          <a class="nav-link ml-auto" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link ml-auto" href="{% url 'register' %}">Register<span class="sr-only">(current)</span></a>
        </li>
      </ul>
      {% endif %}
  </div>
  </div>
</nav>
