{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="pb-3"><h2>Update your profile</h2></div>

<form action="{% url 'profile-update' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group pb-2">
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
    </div>

    <button type="submit" class="btn btn-primary btn-block">Update</button>
</form>

<hr>
<div class="text-center">
    <a class="small btn btn-secondary btn-block" href="{% url 'profile' %}">Back</a>
</div>

{% endblock %}