{% extends 'base.html' %}

{% block head_title %} Register site {% endblock head_title %}

{% block content %}

<div class="pb-3"><h2>Registration form</h2></div>

    {% if messages %}
        {% for message in messages %}
            <div class="text-danger pb-4">{{ message }}. Use another one</div>
        {% endfor %}
    {% endif %}

<form action="{% url 'register' %}" method="POST">
    {% csrf_token %}
    <div class="form-group pb-3">
        <label for="username"><b>Username</b></label>
        <input type="text" class="form-control border border-info" id="username" name="username">
    </div>
    <div class="form-group pb-3">
        <label for="first_name"><b>First Name</b></label>
        <input type="text" class="form-control border border-info" id="first_name" name="first_name">
    </div>
    <div class="form-group pb-3">
        <label for="last_name"><b>Last Name</b></label>
        <input type="text" class="form-control border border-info" id="last_name" name="last_name">
    </div>
    <div class="form-group pb-3">
        <label for="email"><b>Email</b></label>
        <input type="email" class="form-control border border-info" id="email" name="email">
    </div>
    <div class="form-group pb-3">
        <label for="password1"><b>Password</b></label>
        <input type="password" class="form-control border border-info" id="password1" name="password1">
    </div>
    <div class="form-group pb-3">
        <label for="password2"><b>Confirm Password</b></label>
        <input type="password" class="form-control border border-info" id="password2" name="password2">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="text-muted">
    <small>
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </small>
</div>

{% endblock %}