{% extends 'base.html' %}

{% block content %}

<div class="d-flex border-bottom mb-4">
    <div class="col-sm-9 mr-auto p-2">
        <h3>{{deck_obj}}</h3>
            <p><small>{{deck_obj.description}}</small></p>
            {% if card_list %}
                <small><a href="{% url 'profile' deck_obj.created_by %}">{{deck_obj.created_by}}</a></small> |
            {% endif %}
    </div>

    {% if user.is_authenticated and user == deck_obj.created_by or user.is_staff %}
    <div class="col-sm-1 p-2">
        <a class="btn btn-success" href="{% url 'edit_deck_name' deck_obj.id %}">Edit Deck</a>
    </div>
    <div class="col-sm-1 p-2">
        <a class="btn btn-primary align-right" href="{% url 'create_card_name' deck_obj.id %}">Add Card</a>
    </div>


    {% endif %}
</div>

        {% if card_list %}
        <div class="row">
            <div class="btn-lg mb-3 w-25">
                <a class="btn btn-warning" href="{% url 'view_deck_name' deck_obj.id %}">Start Learning</a>
            </div>
            <form method="GET" class="ml-auto" action="">
            <input type="text" name="q" class="pb-1" placeholder="Search card" value="{{ request.GET.q }}"/>
            <input type="submit" class="btn btn-outline-success" value="Search"/>
        </form>
        </div>
<div>
    <div class="row">
            {% for card in card_list %}
            <div class="col-md-5 border border-secondary card mb-3 mx-3">
                <div class="card-body">
                <p class="card-text text-center">{{ card.front }}</p><hr>
                <p class="card-text text-center">{{ card.back }}</p>
                {% if user.is_authenticated and user == deck_obj.created_by or user.is_staff %}
                <a class="btn btn-outline-primary btn-sm" href="{% url 'edit_card_name' deck_obj.id card.id %}">
                    Edit Card</a>
                {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>

<div class="pagination">
    <span class="step-links">
    {% if card_list.has_previous %}
        <a href="?{{ page_request_var }}={{ card_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
    {% endif %}

    <span class="current">
        Page {{ card_list.number }} of {{ card_list.paginator.num_pages }}.
    </span>

    {% if card_list.has_next %}
        <a href="?{{ page_request_var }}={{ card_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
    {% endif %}
    </span>
`</div>

        {% else %}
</div>
        <p>No card found</p>
    {% endif %}

{% endblock %}