{% extends 'base.html' %}

{% block content %}

<div class="d-flex border-bottom mb-4">
    <div class="row">
        <div class="col-sm-7 mr-auto p-2">
            <h3>{{deck_obj}}</h3>
            <p><small>{{deck_obj.description}}</small></p>
            <small><a href="{% url 'profile' deck_obj.created_by %}">{{deck_obj.created_by}}</a></small> |
            <small>created: {{deck_obj.created_date}}</small>
        </div>

    {% if user.is_authenticated and user == deck_obj.created_by or user.is_staff %}
        <div class="col-sm-1 p-2 mx-3">
            <a class="btn btn-success" href="{% url 'edit_deck_name' deck_obj.id %}">Edit Deck</a>
        </div>
        <div class="col-sm-1 p-2 mx-3">
            <a class="btn btn-primary align-right" href="{% url 'create_card_name' deck_obj.id %}">Add Card</a>
        </div>
        {% if card_obj %}
        <div class="col-sm-1 p-2 mx-3">
            <a class="btn btn-info" href="{% url 'edit_card_name' deck_obj.id card_obj.id %}">Edit Card</a>
        </div>
        {% endif %}
    {% endif %}
    </div>
</div>


    {% if card_obj %}

    <div id="card-body" class="col-md-8">
        <div class="front border border-secondary card">
            <p>{{card_obj.front}}</p>
        </div>
        <div class="back border border-secondary card">
            <p>{{card_obj.back}}</p>
        </div>
    </div>


<nav aria-label="...">
    <ul class="pagination pagination-sm w-50 mb-2">
        {% if card_obj.has_previous_card %}
        <li class="page-item">
        <a class="page-link" href="{% url 'view_deck_name' deck_obj.id %}?card={{card_obj.get_previous_card.id}}">Previous</a>
        </li>
        {% endif %}
        {% if deck_obj.get_num_of_cards %}
        <li class="page-item" aria-current="page">
        <a class="page-link" href="{% url 'view_deck_name' deck_obj.id %}?card={{deck_obj.get_random_card.id}}">Random<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}
        {% if card_obj.has_next_card %}
        <li class="page-item">
        <a class="page-link" href="{% url 'view_deck_name' deck_obj.id %}?card={{card_obj.get_next_card.id}}">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js"></script>
<script>
    $("#card-body").flip({

    });
</script>

    {% else %}
        <p>No card found</p>
    {% endif %}
    <div class="button w-50">
        <div class="col-sm-1 p-2">
            <a class="btn btn-secondary" href="{% url 'view_cards_name' deck_obj.id %}">Back</a>
        </div>
    </div>

{% endblock %}